a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}html{box-sizing:border-box}*,::after,::before{box-sizing:inherit}img,video{width:100%;vertical-align:middle;}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap');
.header{
    height: 100vh;
    background-color: #0d0a02;
  }


.logo{
    height: 58px;
    padding: 2px 10px;
    width: 68px;
}
.icon-bar{
    background: #D4AF37;
}
.navbar-style{
    box-shadow: 0 5px 10px #D4AF37;
    text-transform: capitalize;
}
li a{
    color: #D4AF37;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-style:'semi-bold' ;
    
}
li a:hover{
    color:#D4AF37
}
h1{
    font-size: 70px;
    margin: 20px 0;
    color: #D4AF37;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.p1{
    font-size: 35px;
    margin: 20px 0;
    color: #D4AF37;
    font-family: 'Montserrat', sans-serif;
    font-weight: 'light';
}
.p2{
    font-size: 20px;
    margin: 20px 0;
    color: #D4AF37;
    font-family: 'Montserrat', sans-serif;
    font-weight: 'regular';
    line-height: 45px;
}
.text{
    margin-top: 70px;
    margin-left: 5px;
}
.image{
    margin-top: 30px;
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
}
.background{
    background: #0d0a02;
}

.arrow{
    float: right;
    height: 30px;
    width: 20px;
    margin-left: 600px;
    z-index: 0;
}
a.btn{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;

}
a.btn-first{
    background-color: #D4AF37;
    color: #0d0a02;
}
a.btn-second{
    background:transparent;
    border: 1px solid #D4AF37;
    color: #D4AF37;
}
a.btn:hover{
    background: #D4AF37;
    border: none;
    box-shadow: 5px 5px 10px #D4AF37;
    transition: 0.3s;

}
canvas{
    max-height: 100vh;
    margin-top: -1200px;
}
